<!DOCTYPE html>
<html>
<head>
	<title>Pagina di benvenuto</title>
	<!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../css/materialize.min.css"  media="screen,projection"/>
    <!--Import benvenuto.css-->
    <link type="text/css" rel="stylesheet" href="../css/benvenuto.css"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta charset="utf-8"/>
</head>

<body>
    
    <!--navbar-->
     <nav class="nav-extended">
        <div class="nav-wrapper">
          <a href="#" class="brand-logo "><i><b>ASPS</b></i></a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="left material-icons">perm_identity</i>Mario Rossi</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a><i class="left material-icons">perm_identity</i>Mario Rossi</a></li>
          </ul> 
          <ul class="side-nav" id="mobile-demo">
                <li><a></a></li>
            </ul>
          <div class="tabs tabs-transparent" style="overflow:hidden">
             <div class="center-align"><h5><b>Scelta del menu</b></h5></div>
          </div>
        </div>
      </nav>
      <div class="container">
         <!--LUNEDI-->
          <div class=" card-panel col s12" >
            <div class="row" onclick="apri('lunedi')">
              <div class="col s10"><span class="flow-text">Lunedì</span></div>
                 <% if(lun.scelto == true){ %>
                    <div class="col s2"><span><i class="little material-icons">done_all</i></span></div>
                <% }else{%>
                    <div class="col s2"><span><i class="little material-icons">settings</i></span></div>
                <% }%>
              </div>
            <form action="#" method="post" id="lunedi" name="lunedi" class="sh">
                <% if(lun.scelto == true){ %>
                    <div class="row ">
                        <div class="col s3"><a>Primo:</a></div>
                     <% for(var i=0; i<lun.pasti.length; i++) { %>     
                        <% if(lun.pasti[i].tipo == 'primo'){ %>
                        <div class="col s9"><a><%= lun.pasti[i].nome_pasto %></a></div>
                       <% }%>  
                    <% }%> 
                    </div>                
                    <div class="row">
                        <div class="col s3"><a>Secondo:</a></div>
                     <% for(var i=0; i<lun.pasti.length; i++) { %>     
                        <% if(lun.pasti[i].tipo == 'secondo'){ %>
                        <div class="col s9"><a><%= lun.pasti[i].nome_pasto %></a></div>
                       <% }%>  
                    <% }%> 
                    </div>
                    <div class="row">
                        <div class="col s3"><a>Contorno:</a></div>
                     <% for(var i=0; i<lun.pasti.length; i++) { %>     
                        <% if(lun.pasti[i].tipo == 'contorno'){ %>
                        <div class="col s9"><a><%= lun.pasti[i].nome_pasto %></a></div>
                       <% }%>  
                    <% }%> 
                    </div>
                     <div class="row">
                        <div class="col s3"><a>Dolce:</a></div>
                     <% for(var i=0; i<lun.pasti.length; i++) { %>     
                        <% if(lun.pasti[i].tipo == 'dolce'){ %>
                        <div class="col s9"><a><%= lun.pasti[i].nome_pasto %></a></div>
                       <% }%>  
                    <% }%> 
                    </div>
                <% }else{%>
                    <div class="row">
                        <div class="col s12"><a>Primi piatti:</a></div>
                    </div>
                     <% for(var i=0; i<lun.pasti.length; i++) { %>     
                        <% if(lun.pasti[i].tipo == 'primo'){ %>
                            <div class="row" >
                                <div class="col s4 offset-s2"><span><%= lun.pasti[i].nome_pasto %></span></div>
                                <div class="col s4"><span>Dettagli</span></div>
                                <div class="col s2"><input class="with-gap" name="primo" type="radio" id="lun<%= lun.pasti[i].id %>" value="<%= lun.pasti[i].id %>" />
                                <label for="lun<%= lun.pasti[i].id %>"></label>
                                </div>
                            </div>
                        <% }%>  
                    <% }%> 
                      <div class="row">
                        <div class="col s12"><a>Secondi piatti:</a></div>
                    </div>
                    <% for(var i=0; i<lun.pasti.length; i++) { %>
                        <% if(lun.pasti[i].tipo == 'secondo'){ %>
                        <div class="row">
                            <div class="col s4 offset-s2"><span><%= lun.pasti[i].nome_pasto %></span></div>
                            <div class="col s4"><span>Dettagli</span></div>
                             <div class="col s2"><input class="with-gap" name="secondo" type="radio" id="lun<%= lun.pasti[i].id %>" value="<%= lun.pasti[i].id %>" />
                            <label for="lun<%= lun.pasti[i].id %>"></label>
                            </div>
                        </div>
                        <% }%>
                    <% }%>
                    <div class="row">
                        <div class="col s12"><a>Contorni:</a></div>
                    </div>
                    <% for(var i=0; i<lun.pasti.length; i++) { %>
                        <% if(lun.pasti[i].tipo == 'contorno'){ %>
                        <div class="row">
                            <div class="col s4 offset-s2"><span><%= lun.pasti[i].nome_pasto %></span></div>
                            <div class="col s4"><span>Dettagli</span></div>
                             <div class="col s2"><input class="with-gap" name="contorno" type="radio" id="lun<%= lun.pasti[i].id %>" value="<%= lun.pasti[i].id %>" />
                            <label for="lun<%= lun.pasti[i].id %>"></label>
                            </div>
                        </div>
                        <% }%>
                    <% }%>  
                    <div class="row">
                        <div class="col s12"><a>Dolce:</a></div>
                    </div>
                    <% for(var i=0; i<lun.pasti.length; i++) { %>
                        <% if(lun.pasti[i].tipo == 'dolce'){ %>
                        <div class="row">
                            <div class="col s4 offset-s2"><span><%= lun.pasti[i].nome_pasto %></span></div>
                            <div class="col s4"><span>Dettagli</span></div>
                             <div class="col s2"><input class="with-gap" name="dolce" type="radio" id="lun<%= lun.pasti[i].id %>" value="<%= lun.pasti[i].id %>" />
                            <label for="lun<%= lun.pasti[i].id %>"></label>
                            </div>
                        </div>
                        <% }%>
                    <% }%>
                    <div class="row">
                        <div class="col s2 offset-s4"><button class="btn waves-effect waves-light" type="submit"name="action">Invia<i class="material-icons right">input</i></button></div>
                    </div>
                <% }%>
              </form>
          </div>
         <!--MARTEDI-->
          <div class=" card-panel col s12" >
            <div class="row apri" onclick="apri('martedi')">
              <div class="col s10" ><span class="flow-text">Martedì</span></div>
                <% if(mar.scelto == true){ %>
                    <div class="col s2"><span><i class="little material-icons">done_all</i></span></div>
                <% }else{%>
                    <div class="col s2"><span><i class="little material-icons">settings</i></span></div>
                <% }%>
              </div>              
            <form action="#" method="post" id="martedi" name="martedi" class="sh">
                <% if(mar.scelto == true){ %>
                    <div class="row ">
                        <div class="col s3"><a>Primo:</a></div>
                    <% for(var i=0; i<mar.pasti.length; i++) { %>    
                        <% if(mar.pasti[i].tipo == 'primo'){ %>
                        <div class="col s9"><a><%= mar.pasti[i].nome_pasto %></a></div>
                        <% }%>  
                    <% }%> 
                    </div>                
                    <div class="row">
                        <div class="col s3"><a>Secondo:</a></div>
                    <% for(var i=0; i<mar.pasti.length; i++) { %>    
                        <% if(mar.pasti[i].tipo == 'secondo'){ %>
                        <div class="col s9"><a><%= mar.pasti[i].nome_pasto %></a></div>
                        <% }%>  
                    <% }%> 
                    </div>
                    <div class="row">
                        <div class="col s3"><a>Contorno:</a></div>
                        <% for(var i=0; i<mar.pasti.length; i++) { %>    
                        <% if(mar.pasti[i].tipo == 'contorno'){ %>
                        <div class="col s9"><a><%= mar.pasti[i].nome_pasto %></a></div>
                        <% }%>  
                    <% }%> 
                    </div>
                     <div class="row">
                        <div class="col s3"><a>Dolce:</a></div>
                    <% for(var i=0; i<mar.pasti.length; i++) { %>    
                        <% if(mar.pasti[i].tipo == 'dolce'){ %>
                        <div class="col s9"><a><%= mar.pasti[i].nome_pasto %></a></div>
                        <% }%>  
                    <% }%> 
                    </div>
                <% }else{%>                     
                    <div class="row">
                        <div class="col s12"><a>Primi piatti:</a></div>
                    </div>
                     <% for(var i=0; i<mar.pasti.length; i++) { %>    
                        <% if(mar.pasti[i].tipo == 'primo'){ %>
                            <div class="row" >
                                <div class="col s4 offset-s2"><span><%= mar.pasti[i].nome_pasto %></span></div>
                                <div class="col s4"><span>Dettagli</span></div>
                                <div class="col s2"><input class="with-gap" name="primo" type="radio" id="mar<%= mar.pasti[i].id %>" value="<%= mar.pasti[i].id %>" />
                                <label for="mar<%= mar.pasti[i].id %>"></label>
                                </div>
                            </div>
                        <% }%>  
                    <% }%> 
                    <div class="row">
                        <div class="col s12"><a>Secondi piatti:</a></div>
                    </div>
                    <% for(var i=0; i<mar.pasti.length; i++) { %>
                        <% if(mar.pasti[i].tipo == 'secondo'){ %>
                        <div class="row">
                            <div class="col s4 offset-s2"><span><%= mar.pasti[i].nome_pasto %></span></div>
                            <div class="col s4"><span>Dettagli</span></div>
                             <div class="col s2"><input class="with-gap" name="secondo" type="radio" id="mar<%= mar.pasti[i].id %>" value="<%= mar.pasti[i].id %>" />
                            <label for="mar<%= mar.pasti[i].id %>"></label>
                            </div>
                        </div>
                        <% }%>
                    <% }%>
                    <div class="row">
                        <div class="col s12"><a>Contorni:</a></div>
                    </div>
                    <% for(var i=0; i<mar.pasti.length; i++) { %>
                        <% if(mar.pasti[i].tipo == 'contorno'){ %>
                        <div class="row">
                            <div class="col s4 offset-s2"><span><%= mar.pasti[i].nome_pasto %></span></div>
                            <div class="col s4"><span>Dettagli</span></div>
                             <div class="col s2"><input class="with-gap" name="contorno" type="radio" id="mar<%= mar.pasti[i].id %>" value="<%= mar.pasti[i].id %>" />
                            <label for="mar<%= mar.pasti[i].id %>"></label>
                            </div>
                        </div>
                        <% }%>
                    <% }%> 
                    <div class="row">
                        <div class="col s12"><a>Dolce:</a></div>
                    </div>
                    <% for(var i=0; i<mar.pasti.length; i++) { %>
                        <% if(mar.pasti[i].tipo == 'dolce'){ %>
                        <div class="row">
                            <div class="col s4 offset-s2"><span><%= mar.pasti[i].nome_pasto %></span></div>
                            <div class="col s4"><span>Dettagli</span></div>
                             <div class="col s2"><input class="with-gap" name="dolce" type="radio" id="mar<%= mar.pasti[i].id %>" value="<%= mar.pasti[i].id %>" />
                            <label for="mar<%= mar.pasti[i].id %>"></label>
                            </div>
                        </div>
                        <% }%>
                    <% }%>
                    <div class="row">
                        <div class="col s2 offset-s4"><button class="btn waves-effect waves-light" type="submit"name="action">Invia<i class="material-icons right">input</i></button></div>
                    </div>
                <% }%>
              </form>
          </div>
        <!--MERCOLEDI-->
          <div  class=" card-panel col s12" >
            <div class="row" onclick="apri('mercoledi')">
              <div class="col s10"><span class="flow-text">Mercoledì</span></div>
                <% if(mer.scelto == true){ %>
                    <div class="col s2"><span><i class="little material-icons">done_all</i></span></div>
                <% }else{%>
                    <div class="col s2"><span><i class="little material-icons">settings</i></span></div>
                <% }%>
              </div>
              <form action="#" method="post" id="mercoledi"  class="sh">
                <% if(mer.scelto == true){ %>
                    <div class="row ">
                        <div class="col s3"><a>Primo:</a></div>       
                        <% for(var i=0; i<mer.pasti.length; i++) { %>   
                        <% if(mer.pasti[i].tipo == 'primo'){ %>
                        <div class="col s9"><a><%= mer.pasti[i].nome_pasto %></a></div>
                       <% }%>  
                    <% }%> 
                    </div>                
                    <div class="row">
                        <div class="col s3"><a>Secondo:</a></div>
                        <% for(var i=0; i<mer.pasti.length; i++) { %>   
                        <% if(mer.pasti[i].tipo == 'secondo'){ %>
                        <div class="col s9"><a><%= mer.pasti[i].nome_pasto %></a></div>
                       <% }%>  
                    <% }%> 
                    </div>
                    <div class="row">
                        <div class="col s3"><a>Contorno:</a></div>
                        <% for(var i=0; i<mer.pasti.length; i++) { %>   
                        <% if(mer.pasti[i].tipo == 'contorno'){ %>
                        <div class="col s9"><a><%= mer.pasti[i].nome_pasto %></a></div>
                       <% }%>  
                    <% }%> 
                    </div>
                     <div class="row">
                        <div class="col s3"><a>Dolce:</a></div>
                        <% for(var i=0; i<mer.pasti.length; i++) { %>   
                        <% if(mer.pasti[i].tipo == 'dolce'){ %>
                        <div class="col s9"><a><%= mer.pasti[i].nome_pasto %></a></div>
                       <% }%>  
                    <% }%> 
                    </div>
                <% }else{%>
                     <div class="row">
                        <div class="col s12"><a>Primi piatti:</a></div>
                    </div>
                     <% for(var i=0; i<mer.pasti.length; i++) { %>   
                        <% if(mer.pasti[i].tipo == 'primo'){ %>
                            <div class="row" >
                                <div class="col s4 offset-s2"><span><%= mer.pasti[i].nome_pasto %></span></div>
                                <div class="col s4"><span>Dettagli</span></div>
                                <div class="col s2"><input class="with-gap" name="primo" type="radio" id="mer<%= mer.pasti[i].id %>" value="<%= mer.pasti[i].id %>" />
                                <label for="mer<%= mer.pasti[i].id %>"></label>
                                </div>
                            </div>
                        <% }%>  
                    <% }%>  
                    <div class="row">
                        <div class="col s12"><a>Secondi piatti:</a></div>
                    </div>
                    <% for(var i=0; i<mer.pasti.length; i++) { %>
                        <% if(mer.pasti[i].tipo == 'secondo'){ %>
                        <div class="row">
                            <div class="col s4 offset-s2"><span><%= mer.pasti[i].nome_pasto %></span></div>
                            <div class="col s4"><span>Dettagli</span></div>
                             <div class="col s2"><input class="with-gap" name="secondo" type="radio" id="mer<%= mer.pasti[i].id %>" value="<%= mer.pasti[i].id %>" />
                            <label for="mer<%= mer.pasti[i].id %>"></label>
                            </div>
                        </div>
                        <% }%>
                    <% }%>
                    <div class="row">
                        <div class="col s12"><a>Contorni:</a></div>
                    </div>
                    <% for(var i=0; i<mer.pasti.length; i++) { %>
                        <% if(mer.pasti[i].tipo == 'contorno'){ %>
                        <div class="row">
                            <div class="col s4 offset-s2"><span><%= mer.pasti[i].nome_pasto %></span></div>
                            <div class="col s4"><span>Dettagli</span></div>
                             <div class="col s2"><input class="with-gap" name="contorno" type="radio" id="mer<%= mer.pasti[i].id %>" value="<%= mer.pasti[i].id %>" />
                            <label for="mer<%= mer.pasti[i].id %>"></label>
                            </div>
                        </div>
                        <% }%>
                    <% }%> 
                    <div class="row">
                        <div class="col s12"><a>Dolce:</a></div>
                    </div>
                    <% for(var i=0; i<mer.pasti.length; i++) { %>
                        <% if(mer.pasti[i].tipo == 'dolce'){ %>
                        <div class="row">
                            <div class="col s4 offset-s2"><span><%= mer.pasti[i].nome_pasto %></span></div>
                            <div class="col s4"><span>Dettagli</span></div>
                             <div class="col s2"><input class="with-gap" name="dolce" type="radio" id="mar<%= mer.pasti[i].id %>" value="<%= mer.pasti[i].id %>" />
                            <label for="mer<%= mer.pasti[i].id %>"></label>
                            </div>
                        </div>
                        <% }%>
                    <% }%>
                    <div class="row">
                        <div class="col s2 offset-s4"><button class="btn waves-effect waves-light" type="submit"name="action">Invia<i class="material-icons right">input</i></button></div>
                    </div>
                <% }%>
              </form>
          </div>
        <!--GIOVEDI-->          
          <div  class=" card-panel col s12" >
            <div class="row" onclick="apri('giovedi')">
              <div class="col s10"><span class="flow-text">Giovedì</span></div>
                <% if(gio.scelto == true){ %>
                    <div class="col s2"><span><i class="little material-icons">done_all</i></span></div>
                <% }else{%>
                    <div class="col s2"><span><i class="little material-icons">settings</i></span></div>
                <% }%>
              </div>
            <form action="#" method="post" id="giovedi"  class="sh">
                <% if(gio.scelto == true){ %>
                    <div class="row ">
                        <div class="col s3"><a>Primo:</a></div>
                     <% for(var i=0; i<gio.pasti.length; i++) { %>   
                        <% if(gio.pasti[i].tipo == 'primo'){ %>
                        <div class="col s9"><a><%= gio.pasti[i].nome_pasto %></a></div>
                        <% }%>  
                    <% }%>   
                    </div>                
                    <div class="row">
                        <div class="col s3"><a>Secondo:</a></div>
                     <% for(var i=0; i<gio.pasti.length; i++) { %>   
                        <% if(gio.pasti[i].tipo == 'secondo'){ %>
                        <div class="col s9"><a><%= gio.pasti[i].nome_pasto %></a></div>
                        <% }%>  
                    <% }%> 
                    </div>
                    <div class="row">
                        <div class="col s3"><a>Contorno:</a></div>
                     <% for(var i=0; i<gio.pasti.length; i++) { %>   
                        <% if(gio.pasti[i].tipo == 'contorno'){ %>
                        <div class="col s9"><a><%= gio.pasti[i].nome_pasto %></a></div>
                        <% }%>  
                    <% }%> 
                    </div>
                     <div class="row">
                        <div class="col s3"><a>Dolce:</a></div>
                     <% for(var i=0; i<gio.pasti.length; i++) { %>   
                        <% if(gio.pasti[i].tipo == 'dolce'){ %>
                        <div class="col s9"><a><%= gio.pasti[i].nome_pasto %></a></div>
                        <% }%>  
                    <% }%> 
                    </div>
                <% }else{%>
                     <div class="row">
                        <div class="col s12"><a>Primi piatti:</a></div>
                    </div>
                     <% for(var i=0; i<gio.pasti.length; i++) { %>   
                        <% if(gio.pasti[i].tipo == 'primo'){ %>
                            <div class="row" >
                                <div class="col s4 offset-s2"><span><%= gio.pasti[i].nome_pasto %></span></div>
                                <div class="col s4"><span>Dettagli</span></div>
                                <div class="col s2"><input class="with-gap" name="primo" type="radio" id="gio<%= gio.pasti[i].id %>" value="<%= gio.pasti[i].id %>" />
                                <label for="gio<%= gio.pasti[i].id %>"></label>
                                </div>
                            </div>
                        <% }%>  
                    <% }%>          
                    <div class="row">
                       <div class="col s12"><a>Secondi piatti:</a></div>
                    </div>
                    <% for(var i=0; i<gio.pasti.length; i++) { %>
                        <% if(gio.pasti[i].tipo == 'secondo'){ %>
                        <div class="row">
                            <div class="col s4 offset-s2"><span><%= gio.pasti[i].nome_pasto %></span></div>
                            <div class="col s4"><span>Dettagli</span></div>
                             <div class="col s2"><input class="with-gap" name="secondo" type="radio" id="gio<%= gio.pasti[i].id %>" value="<%= gio.pasti[i].id %>" />
                            <label for="gio<%= gio.pasti[i].id %>"></label>
                            </div>
                        </div>
                        <% }%>
                    <% }%>
                    <div class="row">
                        <div class="col s12"><a>Contorni:</a></div>
                    </div>
                    <% for(var i=0; i<gio.pasti.length; i++) { %>
                        <% if(gio.pasti[i].tipo == 'contorno'){ %>
                        <div class="row">
                            <div class="col s4 offset-s2"><span><%= gio.pasti[i].nome_pasto %></span></div>
                            <div class="col s4"><span>Dettagli</span></div>
                             <div class="col s2"><input class="with-gap" name="contorno" type="radio" id="gio<%= gio.pasti[i].id %>" value="<%= gio.pasti[i].id %>" />
                            <label for="gio<%= gio.pasti[i].id %>"></label>
                            </div>
                        </div>
                        <% }%>
                    <% }%> 
                     <div class="row">
                        <div class="col s12"><a>Dolce:</a></div>
                    </div>
                    <% for(var i=0; i<gio.pasti.length; i++) { %>
                        <% if(gio.pasti[i].tipo == 'dolce'){ %>
                        <div class="row">
                            <div class="col s4 offset-s2"><span><%= gio.pasti[i].nome_pasto %></span></div>
                            <div class="col s4"><span>Dettagli</span></div>
                             <div class="col s2"><input class="with-gap" name="dolce" type="radio" id="gio<%= gio.pasti[i].id %>" value="<%= gio.pasti[i].id %>" />
                            <label for="gio<%= gio.pasti[i].id %>"></label>
                            </div>
                        </div>
                        <% }%>
                    <% }%>
                    <div class="row">
                        <div class="col s2 offset-s4"><button class="btn waves-effect waves-light" type="submit"name="action">Invia<i class="material-icons right">input</i></button></div>
                    </div>
                <% }%>
              </form>
          </div>
        <!--VENERDI-->          
          <div  class=" card-panel col s12" >
            <div class="row" onclick="apri('venerdi')">
              <div class="col s10"><span class="flow-text">Venerdì</span></div>
                 <% if(ven.scelto == true){ %>
                    <div class="col s2"><span><i class="little material-icons">done_all</i></span></div>
                <% }else{%>
                    <div class="col s2"><span><i class="little material-icons">settings</i></span></div>
                <% }%>
              </div>
            <form action="#" method="post" id="venerdi"  class="sh">
                <% if(ven.scelto == true){ %>
                    <div class="row ">
                        <div class="col s3"><a>Primo:</a></div>
                        <% for(var i=0; i<ven.pasti.length; i++) { %>   
                        <% if(ven.pasti[i].tipo == 'primo'){ %>
                        <div class="col s9"><a><%= ven.pasti[i].nome_pasto %></a></div>
                        <% }%>  
                    <% }%>  
                    </div>                
                    <div class="row">
                        <div class="col s3"><a>Secondo:</a></div>
                        <% for(var i=0; i<ven.pasti.length; i++) { %>   
                        <% if(ven.pasti[i].tipo == 'secondo'){ %>
                        <div class="col s9"><a><%= ven.pasti[i].nome_pasto %></a></div>
                        <% }%>  
                    <% }%>
                    </div>
                    <div class="row">
                        <div class="col s3"><a>Contorno:</a></div>
                        <% for(var i=0; i<ven.pasti.length; i++) { %>   
                        <% if(ven.pasti[i].tipo == 'contorno'){ %>
                        <div class="col s9"><a><%= ven.pasti[i].nome_pasto %></a></div>
                        <% }%>  
                    <% }%>
                    </div>
                     <div class="row">
                        <div class="col s3"><a>Dolce:</a></div>
                        <% for(var i=0; i<ven.pasti.length; i++) { %>   
                        <% if(ven.pasti[i].tipo == 'dolce'){ %>
                        <div class="col s9"><a><%= ven.pasti[i].nome_pasto %></a></div>
                        <% }%>  
                    <% }%>
                    </div>
                <% }else{%>
                     <div class="row">
                        <div class="col s12"><a>Primi piatti:</a></div>
                    </div>
                     <% for(var i=0; i<ven.pasti.length; i++) { %>   
                        <% if(ven.pasti[i].tipo == 'primo'){ %>
                            <div class="row" >
                                <div class="col s4 offset-s2"><span><%= ven.pasti[i].nome_pasto %></span></div>
                                <div class="col s4"><span>Dettagli</span></div>
                                <div class="col s2"><input class="with-gap" name="primo" type="radio" id="ven<%= ven.pasti[i].id %>" value="<%= ven.pasti[i].id %>" />
                                <label for="ven<%= ven.pasti[i].id %>"></label>
                                </div>
                            </div>
                        <% }%>  
                    <% }%>  
                    <div class="row">
                        <div class="col s12"><a>Secondi piatti:</a></div>
                    </div>
                    <% for(var i=0; i<ven.pasti.length; i++) { %>
                        <% if(ven.pasti[i].tipo == 'secondo'){ %>
                        <div class="row">
                            <div class="col s4 offset-s2"><span><%= ven.pasti[i].nome_pasto %></span></div>
                            <div class="col s4"><span>Dettagli</span></div>
                             <div class="col s2"><input class="with-gap" name="secondo" type="radio" id="ven<%= ven.pasti[i].id %>" value="<%= ven.pasti[i].id %>" />
                            <label for="ven<%= ven.pasti[i].id %>"></label>
                            </div>
                        </div>
                        <% }%>
                    <% }%>
                    <div class="row">
                         <div class="col s12"><a>Contorni:</a></div>
                    </div>
                    <% for(var i=0; i<ven.pasti.length; i++) { %> 
                        <% if(ven.pasti[i].tipo == 'contorno'){ %>
                        <div class="row">
                            <div class="col s4 offset-s2"><span><%= ven.pasti[i].nome_pasto %></span></div>
                            <div class="col s4"><span>Dettagli</span></div>
                             <div class="col s2"><input class="with-gap" name="contorno" type="radio" id="ven<%= ven.pasti[i].id %>" value="<%= ven.pasti[i].id %>" />
                            <label for="ven<%= ven.pasti[i].id %>"></label>
                            </div>
                        </div>
                        <% }%>
                    <% }%> 
                    <div class="row">
                            <div class="col s12"><a>Dolce:</a></div>
                    </div>
                    <% for(var i=0; i<ven.pasti.length; i++) { %>
                        <% if(ven.pasti[i].tipo == 'dolce'){ %>
                        <div class="row">
                            <div class="col s4 offset-s2"><span><%= ven.pasti[i].nome_pasto %></span></div>
                            <div class="col s4"><span>Dettagli</span></div>
                             <div class="col s2"><input class="with-gap" name="dolce" type="radio" id="ven<%= ven.pasti[i].id %>" value="<%= ven.pasti[i].id %>" />
                            <label for="ven<%= ven.pasti[i].id %>"></label>
                            </div>
                        </div>
                        <% }%>
                    <% }%>
                    <div class="row">
                        <div class="col s2 offset-s4"><button class="btn waves-effect waves-light" type="submit"name="action">Invia<i class="material-icons right">input</i></button></div>
                    </div>
                <% }%>
              </form>
          </div>
        <!--SABATO-->   
          <div  class=" card-panel col s12" >
            <div class="row" onclick="apri('sabato')">
              <div class="col s10"><span class="flow-text">Sabato</span></div>
                 <% if(sab.scelto == true){ %>
                    <div class="col s2"><span><i class="little material-icons">done_all</i></span></div>
                <% }else{%>
                    <div class="col s2"><span><i class="little material-icons">settings</i></span></div>
                <% }%>
              </div>
            <form action="#" method="post" id="sabato"  class="sh">
                <% if(sab.scelto == true){ %>
                    <div class="row ">
                        <div class="col s3"><a>Primo:</a></div>
                         <% for(var i=0; i<sab.pasti.length; i++) { %>
                        <% if(sab.pasti[i].tipo == 'primo'){ %>
                        <div class="col s9"><a><%= sab.pasti[i].nome_pasto %></a></div>
                       <% }%>  
                    <% }%>  
                    </div>                
                    <div class="row">
                        <div class="col s3"><a>Secondo:</a></div>
                         <% for(var i=0; i<sab.pasti.length; i++) { %>
                        <% if(sab.pasti[i].tipo == 'secondo'){ %>
                        <div class="col s9"><a><%= sab.pasti[i].nome_pasto %></a></div>
                       <% }%>  
                    <% }%>  
                    </div>
                    <div class="row">
                        <div class="col s3"><a>Contorno:</a></div>
                         <% for(var i=0; i<sab.pasti.length; i++) { %>
                        <% if(sab.pasti[i].tipo == 'contorno'){ %>
                        <div class="col s9"><a><%= sab.pasti[i].nome_pasto %></a></div>
                       <% }%>  
                    <% }%>  
                    </div>
                     <div class="row">
                        <div class="col s3"><a>Dolce:</a></div>
                         <% for(var i=0; i<sab.pasti.length; i++) { %>
                        <% if(sab.pasti[i].tipo == 'dolce'){ %>
                        <div class="col s9"><a><%= sab.pasti[i].nome_pasto %></a></div>
                       <% }%>  
                    <% }%>  
                    </div>
                <% }else{%>
                     <div class="row">
                        <div class="col s12"><a>Primi piatti:</a></div>
                    </div>
                     <% for(var i=0; i<sab.pasti.length; i++) { %>
                        <% if(sab.pasti[i].tipo == 'primo'){ %>
                            <div class="row" >
                                <div class="col s4 offset-s2"><span><%= sab.pasti[i].nome_pasto %></span></div>
                                <div class="col s4"><span>Dettagli</span></div>
                                <div class="col s2"><input class="with-gap" name="primo" type="radio" id="sab<%= sab.pasti[i].id %>" value="<%= sab.pasti[i].id %>" />
                                <label for="sab<%= sab.pasti[i].id %>"></label>
                                </div>
                            </div>
                        <% }%>  
                    <% }%>  
                    <div class="row">
                            <div class="col s12"><a>Secondi piatti:</a></div>
                        </div>
                    <% for(var i=0; i<sab.pasti.length; i++) { %>
                        <% if(sab.pasti[i].tipo == 'secondo'){ %>
                        <div class="row">
                            <div class="col s4 offset-s2"><span><%= sab.pasti[i].nome_pasto %></span></div>
                            <div class="col s4"><span>Dettagli</span></div>
                             <div class="col s2"><input class="with-gap" name="secondo" type="radio" id="sab<%= sab.pasti[i].id %>" value="<%= sab.pasti[i].id %>" />
                            <label for="sab<%= sab.pasti[i].id %>"></label>
                            </div>
                        </div>
                        <% }%>
                    <% }%>
                     <div class="row">
                        <div class="col s12"><a>Contorni:</a></div>
                    </div>
                    <% for(var i=0; i<sab.pasti.length; i++) { %>
                        <% if(sab.pasti[i].tipo == 'contorno'){ %>
                        <div class="row">
                            <div class="col s4 offset-s2"><span><%= sab.pasti[i].nome_pasto %></span></div>
                            <div class="col s4"><span>Dettagli</span></div>
                             <div class="col s2"><input class="with-gap" name="contorno" type="radio" id="sab<%= sab.pasti[i].id %>" value="<%= sab.pasti[i].id %>" />
                            <label for="sab<%= sab.pasti[i].id %>"></label>
                            </div>
                        </div>
                        <% }%>
                    <% }%> 
                     <div class="row">
                        <div class="col s12"><a>Dolce:</a></div>
                    </div>
                    <% for(var i=0; i<sab.pasti.length; i++) { %>
                        <% if(sab.pasti[i].tipo == 'dolce'){ %>
                        <div class="row">
                            <div class="col s4 offset-s2"><span><%= sab.pasti[i].nome_pasto %></span></div>
                            <div class="col s4"><span>Dettagli</span></div>
                             <div class="col s2"><input class="with-gap" name="dolce" type="radio" id="sab<%= sab.pasti[i].id %>" value="<%= sab.pasti[i].id %>" />
                            <label for="sab<%= sab.pasti[i].id %>"></label>
                            </div>
                        </div>
                        <% }%>
                    <% }%>
                    <div class="row">
                        <div class="col s2 offset-s4"><button class="btn waves-effect waves-light" type="submit"name="action">Invia<i class="material-icons right">input</i></button></div>
                    </div>
                <% }%>
              </form>
          </div>
        <!--DOMENICA--> 
          <div  class=" card-panel col s12" >
            <div class="row " onclick="apri('domenica')">
              <div class="col s10" style="line-height:50%"><span class="flow-text" >Domenica</span></div>
                <% if(dom.scelto == true){ %>
                    <div class="col s2"><span><i class="little material-icons">done_all</i></span></div>
                <% }else{%>
                    <div class="col s2"><span><i class="little material-icons">settings</i></span></div>
                <% }%>
              </div>
            <form action="#" method="post" id="domenica"  class="sh">
                <% if(dom.scelto == true){ %>
                    <div class="row ">
                        <div class="col s3"><a>Primo:</a></div>
                     <% for(var i=0; i<dom.pasti.length; i++) { %>
                        <% if(dom.pasti[i].tipo == 'primo'){ %>
                        <div class="col s9"><a><%= dom.pasti[i].nome_pasto %></a></div>
                        <% }%>  
                    <% }%> 
                    </div>                
                    <div class="row">
                        <div class="col s3"><a>Secondo:</a></div>
                     <% for(var i=0; i<dom.pasti.length; i++) { %>
                        <% if(dom.pasti[i].tipo == 'secondo'){ %>
                        <div class="col s9"><a><%= dom.pasti[i].nome_pasto %></a></div>
                        <% }%>  
                    <% }%> 
                    </div>
                    <div class="row">
                        <div class="col s3"><a>Contorno:</a></div>
                     <% for(var i=0; i<dom.pasti.length; i++) { %>
                        <% if(dom.pasti[i].tipo == 'contorno'){ %>
                        <div class="col s9"><a><%= dom.pasti[i].nome_pasto %></a></div>
                        <% }%>  
                    <% }%> 
                    </div>
                     <div class="row">
                        <div class="col s3"><a>Dolce:</a></div>
                     <% for(var i=0; i<dom.pasti.length; i++) { %>
                        <% if(dom.pasti[i].tipo == 'dolce'){ %>
                        <div class="col s9"><a><%= dom.pasti[i].nome_pasto %></a></div>
                        <% }%>  
                    <% }%> 
                    </div>
                <% }else{%>
                     <div class="row">
                        <div class="col s12"><a>Primi piatti:</a></div>
                    </div>
                     <% for(var i=0; i<dom.pasti.length; i++) { %>
                        <% if(dom.pasti[i].tipo == 'primo'){ %>
                            <div class="row" >
                                <div class="col s4 offset-s2"><span><%= dom.pasti[i].nome_pasto %></span></div>
                                <div class="col s4"><span>Dettagli</span></div>
                                <div class="col s2"><input class="with-gap" name="primo" type="radio" id="dom<%= dom.pasti[i].id %>" value="<%= dom.pasti[i].id %>" />
                                <label for="dom<%= dom.pasti[i].id %>"></label>
                                </div>
                            </div>
                        <% }%>  
                    <% }%>  
                    <div class="row">
                            <div class="col s12"><a>Secondi piatti:</a></div>
                        </div>
                    <% for(var i=0; i<dom.pasti.length; i++) { %>
                        <% if(dom.pasti[i].tipo == 'secondo'){ %>
                        <div class="row">
                            <div class="col s4 offset-s2"><span><%= dom.pasti[i].nome_pasto %></span></div>
                            <div class="col s4"><span>Dettagli</span></div>
                             <div class="col s2"><input class="with-gap" name="secondo" type="radio" id="dom<%= dom.pasti[i].id %>" value="<%= dom.pasti[i].id %>" />
                            <label for="dom<%= dom.pasti[i].id %>"></label>
                            </div>
                        </div>
                        <% }%>
                    <% }%>
                     <div class="row">
                        <div class="col s12"><a>Contorni:</a></div>
                    </div>
                    <% for(var i=0; i<dom.pasti.length; i++) { %>
                        <% if(dom.pasti[i].tipo == 'contorno'){ %>
                        <div class="row">
                            <div class="col s4 offset-s2"><span><%= dom.pasti[i].nome_pasto %></span></div>
                            <div class="col s4"><span>Dettagli</span></div>
                             <div class="col s2"><input class="with-gap" name="contorno" type="radio" id="dom<%= dom.pasti[i].id %>" value="<%= dom.pasti[i].id %>" />
                            <label for="dom<%= dom.pasti[i].id %>"></label>
                            </div>
                        </div>
                        <% }%>
                    <% }%> 
                     <div class="row">
                        <div class="col s12"><a>Dolce:</a></div>
                    </div>
                    <% for(var i=0; i<dom.pasti.length; i++) { %>
                        <% if(dom.pasti[i].tipo == 'dolce'){ %>
                        <div class="row">
                            <div class="col s4 offset-s2"><span><%= dom.pasti[i].nome_pasto %></span></div>
                            <div class="col s4"><span>Dettagli</span></div>
                             <div class="col s2"><input class="with-gap" name="dolce" type="radio" id="dom<%= dom.pasti[i].id %>" value="<%= dom.pasti[i].id %>" />
                            <label for="dom<%= dom.pasti[i].id %>"></label>
                            </div>
                        </div>
                        <% }%>
                    <% }%>
                    <div class="row">
                        <div class="col s2 offset-s4"><button class="btn waves-effect waves-light" type="submit"name="action">Invia<i class="material-icons right">input</i></button></div>
                    </div>
                <% }%>
              </form>
          </div>
    </div>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../js/materialize.min.js"></script>
    <!--Import script-->
    <script type="text/javascript" src="../js/script.js"></script>
</body>
</html>